[user]
	email = k@kmonsoor.com
	name = Khaled Monsoor
[credential "https://github.com"]
	username = kmonsoor

[alias]
	s = status
	c = commit
	f = fetch
	d = diff
	cm = commit -m
	cl = clone

	########
	pl = pull
	plr = pull --rebase

	########
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase --interactive
	rbs = rebase --ski

	########
	a = !git add . && git status
	au = !git add -u && git status
	aa = !git add . && git add -u && git status
	
	########
	ps = push
	psom = push origin master
	psfom = push -f origin master
	psuom = push -u origin master

	#############
	o = checkout
	ob = checkout -b
	
	########
	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	ll = log --stat --abbrev-commit
	tc = log -a --pretty=oneline | wc -l

	########
	human = name-rev --name-only --refs=refs/heads/*
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\t=> \\2/' | sort

[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
	
[push]
	default = matching
